<div>
  <%= f.label :type_name, "客室タイプ名" %>
  <%= f.text_field :type_name %>
</div>
<div>
  <%= f.label :capacity, "定員数" %>
  <%= f.number_field :capacity %>
</div>
<div>
  <%= f.label :room_note, "説明" %>
  <%= f.text_area :room_note %>
</div>
