<h2>客室タイプ一覧</h2>
<div class="panel_area">

  <%= link_to "新規部屋タイプ作成", new_admin_room_type_path, method: :get, class: "btn btn-primary" %>

  <table>
    <thead>
      <tr>
        <th style="width: 260px;">客室タイプ名</th>
        <th style="width: 60px;">定員数</th>
        <th style="width: 60px;">客室数</th>
        <th>説明</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @room_types.each do |type| %>
      <tr>
        <td><%= type.type_name %></td>
        <td><%= type.capacity %>人</td>
        <td><%= Room.where(room_type_id: type.id).count %>室</td>
        <td><%= truncate(type.room_note, length: 36) %><%= link_to "詳細", admin_room_type_path(type.id) %></td>
        <td>

          <%= link_to "編集", edit_admin_room_type_path(type.id), class: "btn btn-xs btn-info" %>
          <%= link_to "客室を追加", new_admin_room_path(room_type_id: type.id), class: "btn btn-xs btn-success" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
