<table>
  <thead>
    <tr>
      <th style="width: 120px;">予約番号</th>
      <th style="width: 140px;">宿泊者名</th>
      <th style="width: 50px;">室名</th>
      <th style="width: 130px;">チェックイン日</th>
      <th style="width: 140px;">チェックアウト日</th>
      <th style="width: 90px;">ステータス</th>
      <th>予約編集</th>
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |reserve| %>
    <tr>
      <td><%= reserve.reserve_no %></td>
      <td><%= reserve.guest_name %></td>
      <td><%= Room.find(reserve.room_id).room_name %></td>
      <td class="rsrv_in_date"><%= reserve.check_in_date %></td>
      <td><%= reserve.check_out_date %></td>
      <td><%= reserve.status_i18n %></td>
      <td>
        <%= render partial: "status_btn", locals:{reserve: reserve} %>
        <%= link_to "詳細", admin_reservation_path(reserve.id), method: :get, class: "btn btn-xs btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
