<h2>予約一覧</h2>

<% flash[:tab_1] = true if flash[:tab_2].blank? && flash[:tab_3].blank? %>

<%= radio_button_tag :tab, "1", flash[:tab_1] %>
<%= radio_button_tag :tab, "2", flash[:tab_2] %>
<%= radio_button_tag :tab, "3", flash[:tab_3] %>
<div class="tab_area">
  <%= label_tag :tab_1, "申請一覧", class: "tab1_label" %>
  <%= label_tag :tab_2, "承認一覧", class: "tab2_label" %>
  <%= label_tag :tab_3, "到着一覧", class: "tab3_label" %>
</div>

<div class="panel_area">
  <div id="apply_list" class="tab_panel">
    <% reservations = Reservation.where(status: 0) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
  <div id="approve_list" class="tab_panel">
    <% reservations = Reservation.where(status: 1) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
  <div id="arrive_list" class="tab_panel">
    <% reservations = Reservation.where(status: 4) %>
    <%= render partial: 'list', locals:{reservations: reservations} %>
  </div>
</div>

<%= debug(params) %>
