<% provide(:title) %>
<h2>日別売上集計</h2>
<div class="panel_area">

  <% today = Date.today %>
  <% month = today.beginning_of_month..today.end_of_month %>
  <canvas id="daily_chart"></canvas>
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <th>宿泊人数</th>
        <th>販売客室数</th>
        <th>客室稼働率</th>
        <th>売上金額</th>
      </tr>
    </thead>
    <tbody>
      <% month.each do |d| %>
      <tr>
        <% reserves = Reservation.get_by_date(d) %>
        <td><%= d %></td>
        <td><%= reserves.sum(:guest_count) %></td>
        <td><%= reserves.count %></td>
        <td><%= number_to_percentage(((reserves.sum(:guest_count))/((Room.count).to_f))*100) %></td>
        <td>
          <% total = 0 %>
          <% reserves.each do |r| %>
            <% room_type = Room.find(r.room_id).room_type_id %>
            <% total += Rate.get_amount(room_type, d).amount %>
          <% end %>
          <%= total %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
