<h2>宿泊料金一覧</h2>


<div class="panel_area">
<%= link_to "新しい宿泊料金を追加", new_admin_rate_path, method: :get, class: "btn btn-primary" %>
  <table>
    <thead>
      <tr>
        <th>料金プラン名</th>
        <th>金額</th>
        <th>部屋タイプ</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>曜日</th>
        <th>優先順位</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.rate_type %></td>
        <td><%= rate.amount %></td>
        <td><%= RoomType.find(rate.room_type_id).type_name %></td>
        <td><%= rate.start_date %></td>
        <td><%= rate.end_date %></td>
        <td><%= rate.weekday %></td>
        <td><%= rate.rank %></td>
        <td><%= link_to "編集", edit_admin_rate_path(rate.id), method: :get, class:"btn btn-xs btn-success" %></td>
        <td><%= link_to "削除", admin_rate_path(rate.id), method: :delete, class: "btn btn-xs btn-warning" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
