<div class="reserve_form">
  <% if @reservation.errors.any? %>
    <div class="errors_explain">
      <h3><%= @reservation.errors.count %>件のエラーがあります</h3>
    </div>
  <% end %>
  <p>予約者情報を入力してください<span style="color: red;">*必須</span></p>

  <div>
    <%= f.label :guest_name, "予約者名*" %>
    <%= f.text_field :guest_name %><span class="msg_guestname"></span>
  </div>
  <div>
    <%= f.label :guest_mail, "メールアドレス*" %>
    <%= f.text_field :guest_mail %><span class="msg_guestmail"></span>
  </div>
  <div>
    <%= f.label :guest_phone, "電話番号*" %>
    <%= f.text_field :guest_phone %><span class="msg_guestphone"></span>
  </div>
  <div>
    <%= f.label :stay_note, "備考" %>
    <%= f.text_area :stay_note %>
  </div>

</div>
