<div class="reserve_form">
  <p>予約内容</p>
  <div>
      <%= f.label :apply_date, "申請日" %><span><%= Date.today %></span>
      <%= f.hidden_field :apply_date, value: Date.today %>
  </div>
  <div>
    <%= f.label :room_id, "客室名" %><span id="inputRoom"><%= Room.find(@room_id).room_name %></span>
    <%= f.hidden_field :room_id, value: @room_id %>
  </div>
  <div>
    <span>客室タイプ</span><span id="inputRoomType"><%= Room.find(@room_id).room_type.type_name %></span>
  </div>
  <div>
    <%= f.label :check_in_date, "チェックイン日" %><span><%= @in_date %></span>
    <%= f.hidden_field :check_in_date, value: @in_date %>
  </div>
  <div>
    <%= f.label :check_out_date, "チェックアウト日" %><span><%= @out_date %></span>
    <%= f.hidden_field :check_out_date, value: @out_date %>
  </div>
  <div>
    <span>泊数</span><span id="inputstaycount"><%= (@in_date..@out_date.days_ago(1)).count %>泊</span>
  </div>
  <div>
    <%= f.label :guest_count, "宿泊人数" %><span id="inputguestcount"><%= @guest_count %>名</span>
    <%= f.hidden_field :guest_count, value: @guest_count %>
  </div>
  <div>
    <span>宿泊料金</span><span id="inputstayamount"><%= @amount %>円</span>
  </div>
</div>
