<% provide(:title) %>
<h2>宿泊予約申請フォーム</h2>
<div class="reserve_form">
<% letters = ('a'..'z').to_a %>
<% l = letters.sample(4).join %>
<% n = sprintf('%08d', Reservation.count + 1) %>
  <p>予約者情報を入力してください<span style="color: red;">*必須</span></p>
<ul>
  <%= form_for(@reservation) do |f| %>
    <%= f.hidden_field :reserve_no, value: l + n %>
  <li>
    <%= f.label :guest_name, "予約者名" %>
    <%= f.text_field :guest_name %>
  </li>
  <li>
    <%= f.label :guest_mail, "メールアドレス" %>
    <%= f.text_field :guest_mail %>
  </li>
  <li>
    <%= f.label :guest_phone, "電話番号" %>
    <%= f.text_field :guest_phone %>
  </li>
  <li>
    <%= f.label :stay_note, "備考" %>
    <%= f.text_area :stay_note %>
  </li>
</ul>
<p>予約内容</p>
<ul>
  <li>
    <%= f.label :room_id, "宿泊室名" %><span><%= Room.find(@room_id).room_name %></span>
    <%= f.hidden_field :room_id, value: @room_id %>
  </li>
  <li>
    <%= f.label :check_in_date, "チェックイン日" %><span><%= @in_date %></span>
    <%= f.hidden_field :check_in_date, value: @in_date %>
  </li>
  <li>
    <%= f.label :check_out_date, "チェックアウト日" %><span><%= @out_date %></span>
    <%= f.hidden_field :check_out_date, value: @out_date %>
  </li>
  <li>
    <label>泊数</label><span><%= (@in_date..@out_date.days_ago(1)).count %>泊</span>
  </li>
  <li>
    <%= f.label :guest_count, "宿泊人数" %><span><%= @guest_count %>名</span>
    <%= f.hidden_field :guest_count, value: @guest_count %>
  </li>
  <li>
    <label>宿泊料金</label><span><%= @amount %>円</span>
  </li>
</ul>
    <%= f.submit "予約を申請する" %>

  <% end %>
</div>
