<% provide(:title) %>
<% duration = @reservation.check_in_date..@reservation.check_out_date.days_ago(1) %>
<% total = 0 %>
<% duration.each do |d| %>
  <% total += Rate.get_amount(Room.find(@reservation.room_id).room_type.id, d).amount %>
<% end %>

<h2>予約変更</h2>


<% if @reservation.errors.any? %>
  <div class="errors_explain">
    <h3><%= @reservation.errors.count %>件のエラーがあります</h3>
    <ul>
    <% @reservation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class="reserve_form">
  <%= form_for @reservation do |f| %>
        <%= f.hidden_field :reserve_no %>
    <div>
        <%= f.label :apply_date, "申請日" %><span><%= @reservation.apply_date %></span>
        <%= f.hidden_field :apply_date %>
    </div>
    <div>
        <%= f.label :guest_name, "予約者名" %><span><%= @reservation.guest_name %></span>
        <%= f.hidden_field :guest_name %>
    </div>
    <div>
        <%= f.label :guest_mail, "メールアドレス*" %><span><%= @reservation.guest_mail %></span>
        <%= f.hidden_field :guest_mail %>
    </div>
    <div>
        <%= f.label :guest_phone, "電話番号*" %><span><%= @reservation.guest_phone %></span>
        <%= f.hidden_field :guest_phone %>
    </div>
    <div>
        <%= f.label :stay_note, "備考" %>
        <%= f.text_area :stay_note %>
    </div>

    <div>
        <%= f.label :room_id, "客室名" %><span><%= Room.find(@reservation.room_id).room_name %></span>
        <%= f.hidden_field :room_id %>
    </div>
    <div>
        <%= f.label :check_in_date, "チェックイン日" %>
        <%= f.date_field :check_in_date %>
    </div>
    <div>
        <%= f.label :check_out_date, "チェックアウト日" %>
        <%= f.date_field :check_out_date %>
    </div>

    <div>
        <%= f.label :guest_count, "宿泊人数" %><span><%= @reservation.guest_count %></span>
        <%= f.hidden_field :guest_count %>
    </div>
    <div>
        <%= f.hidden_field :status %>
    </div>
    <div>
        <span>宿泊料金</span><span id="inputstayamount"><%= total %>円</span>
    </div>

    <div class="btn_bars">


        <%= f.submit "予約内容を変更する", class: "btn btn-success", data:{confirm: "予約内容を変更します。よろしいですか？"}  %>
  <% end %>
        <%= button_to "予約をキャンセルする", cancel_reservation_path(@reservation.id), method: :patch, class: "btn btn-danger", data:{confirm: "予約をキャンセルします。よろしいですか？"} %>
    </div>
</div>
