<div class="result">
<% duration = @in_date..@out_date.days_ago(1) %>
<span>泊数：<strong><%= duration.count %></strong> 泊</span>
<span>人数：<strong><%= @guest_count %></strong> 人</span>
<% total = 0 %>
<% duration.each do |d| %>
  <% total += Rate.get_amount(room_type, d).amount %>
<% end %>
<span>宿泊料 合計：<strong><%= total.to_s(:delimited) %><strong> 円</span>
</div>
<%= form_for(@reservation, url: { controller: :reservations, action: :new}, method: :get) do |f| %>
  <%= f.hidden_field :room_id, value: room.id %>
  <%= f.hidden_field :check_in_date, value: @in_date %>
  <%= f.hidden_field :check_out_date, value: @out_date %>
  <%= f.hidden_field :guest_count, value: @guest_count %>
  <%= f.hidden_field :amount, value: total %>
  <%= f.submit "この内容で予約する", class: "btn" %>
<% end %>
