<% provide(:title, @room.room_name) %>
<h2><%= @room.room_name %> -<%= @room.room_type.type_name %>- の予約状況</h2>


<% today = Date.today %>

<p><%= Date.today.year %></p>
<p><%= Date.today.month %></p>
<p><%= Date.today.end_of_month %></p>



<p><%= today.beginning_of_week(:sunday) %></p>
<p><%= today.end_of_week(:sunday) %></p>

<table>
  <caption><%= today.strftime('%Y年%m月') %></caption>
  <thead>
    <tr>
      <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% (today.beginning_of_week(:sunday)..today.at_end_of_week(:sunday)).each do |d| %>
      <th><%= d.strftime('%d') %><br><p>¥5,000</p></th>
      <% end %>
    </tr>
  </tbody>
</table>
