<% provide(:title, @room.room_name) %>
<h2><%= @room.room_name %> -<%= @room.room_type.type_name %>- の予約状況</h2>
<div class="content">
<div class="icon">
<button class="back">▲</button>
</div>
<% today = Date.today %>
<% bday = today.beginning_of_week(:sunday) %>
<table class="calendar-table">
  <caption><%= today.strftime('%Y年%m月') %></caption>
  <thead>
    <tr>
      <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
    </tr>
  </thead>
  <tbody>
      <% (bday..bday.weeks_since(3)-1).each do |d| %>
      <% if d.wday == 0 %>
    <tr>
      <% end %>
      <%
        date_classes = []
        date_classes << "past" if d < today
        date_classes << "sunday" if d.wday == 0
        date_classes << "saturday" if d.wday == 6
        date_classes << "current" if d == today
      %>
      <td class="<%= date_classes.join(" ") %>">
        <%= d.day %><br><span>¥5,000</span></td>
      <% if d.wday == 6 %>
    </tr>
      <% end %>
      <% end %>
  </tbody>
</table>



<div class="icon">
<button class="next">▼</button>
</div>
<div class="check_form">
  <label for="checkin">チェックイン日</label>
  <input type="date" id="checkin" value="2018-09-18" style="font-size: 15px;"/>
  <label for="checkout">チェックアウト日</label>
  <input type="date" id="checkout" value="2018-09-19" style="font-size: 15px;"/>
  <label for="guest_count">人数</label>
  <input type="tel" value="1" id="guest_count" maxlength="1" style="width: 40px; font-size: 15px;"/>
  <input type="submit" id="total" class="btn" value="料金を計算する"/>

  <div id="calc">
  <span style="font-size:20px;">泊数：</span>
  <span style="font-size:30px;">1泊</span>
  <span style="font-size:20px;">人数：</span>
  <span style="font-size:30px;">1名</span>
  <span style="font-size:20px;">宿泊料金：</span>
  <span style="font-size:40px;">5,000円</span>
  <div>
    <input type="submit" class="btn" value="他の部屋を探す"/>
    <input type="submit" class="btn" value="予約者情報を入力する"/>
  </div>
  </div>
</div>
