<header>
  <%= link_to "Reserve App", root_path, class: "logo" %>
  <nav>
    <ul class="menu">
        <li><%= link_to "客室タイプ一覧", room_types_path %></li>
        <li><%= link_to "客室一覧", root_path %></li>
        <li><%= link_to "予約検索", search_reservations_path %></li>
        <li><%= link_to "お問い合わせ", new_contact_path %></li>

    </ul>
  </nav>
</header>
